Second project i do and also deal with the github shit for the whole afternoon

I'm dying

last test for tonight

In [74]:
import pandas as pd
df = pd.read_csv('cars.csv')

In [75]:
df.head()
df = df.dropna(axis=0)
df.isna().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [76]:
df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

Basic Exploration

1.How many unique car makes are in the dataset?

2.What are the top 5 most common car types?

3.What is the average MSRP of all cars?

4.Find the car with the highest horsepower and the one with the lowest horsepower.

In [77]:
# 1
df.Make.nunique()

38

In [78]:
# 2
df.Make.value_counts().sort_values(ascending=False).head(5)

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Name: count, dtype: int64

In [79]:
# 3
df.groupby('Make')['Horsepower'].mean()

Make
Acura            239.285714
Audi             250.789474
BMW              241.450000
Buick            214.444444
Cadillac         298.125000
Chevrolet        212.814815
Chrysler         201.133333
Dodge            209.692308
Ford             197.869565
GMC              253.125000
Honda            169.411765
Hummer           316.000000
Hyundai          149.666667
Infiniti         291.250000
Isuzu            234.000000
Jaguar           307.000000
Jeep             178.333333
Kia              143.090909
Land Rover       224.333333
Lexus            243.636364
Lincoln          260.333333
MINI             139.000000
Mazda            159.111111
Mercedes-Benz    278.692308
Mercury          210.666667
Mitsubishi       184.307692
Nissan           228.000000
Oldsmobile       165.000000
Pontiac          195.909091
Porsche          321.142857
Saab             222.857143
Saturn           145.625000
Scion            108.000000
Subaru           191.454545
Suzuki           151.000000
Toyota           180.678571
Volkswagen       201.333333
Volvo            223.333333
Name: Horsepower, dtype: float64

In [ ]:
#4
df.sort_values(by = 'Horsepower',ascending= True).min()

Make                Acura
Model          3.5 RL 4dr
Type               Hybrid
Origin               Asia
DriveTrain            All
MSRP             $10,280
Invoice          $10,107
EngineSize            1.4
Cylinders             3.0
Horsepower           73.0
MPG_City             10.0
MPG_Highway          12.0
Weight             1850.0
Wheelbase            89.0
Length              143.0
dtype: object

In [121]:
df.sort_values(by = 'Horsepower',ascending= True).max()

Make              Volvo
Model                xB
Type              Wagon
Origin              USA
DriveTrain         Rear
MSRP           $94,820
Invoice         $9,875
EngineSize          8.3
Cylinders          12.0
Horsepower        500.0
MPG_City           60.0
MPG_Highway        66.0
Weight           7190.0
Wheelbase         144.0
Length            238.0
dtype: object

Comparisons & Grouping

5/Compare the average MSRP between cars made in Asia vs USA vs Europe.

6/Which DriveTrain type (Front, Rear, All) has the best average MPG_City?

7/Group cars by Cylinders: which group has the highest average horsepower?

8/Among Sedans, what is the average weight compared to SUVs?

In [ ]:
# 5
df.groupby('Origin').Horsepower.mean().sort_values(ascending=True)

Origin
Asia      190.358974
USA       212.823129
Europe    251.894309
Name: Horsepower, dtype: float64

In [108]:
# 6
df.groupby('DriveTrain').MPG_City.mean().sort_values(ascending=False).head(1)

DriveTrain
Front    22.256637
Name: MPG_City, dtype: float64

In [ ]:
# 7
df.groupby('Cylinders').Horsepower.mean().sort_values(ascending=True)

Cylinders
3.0      73.000000
4.0     150.514706
6.0     218.952632
5.0     228.000000
8.0     298.942529
10.0    405.000000
12.0    468.666667
Name: Horsepower, dtype: float64

In [ ]:
# 8
df.groupby('Type').get_group('Sedan').Weight.mean()

np.float64(3399.0648854961833)

In [ ]:
df.groupby('Type').get_group('SUV').Weight.mean()

In [118]:
df.groupby('Type').Weight.mean()[['Sedan','SUV']]

Type
Sedan    3399.064885
SUV      4444.433333
Name: Weight, dtype: float64

Correlations & Relationships

9/Does engine size correlate with horsepower? - YES

10/Does car weight affect fuel efficiency (MPG_City or MPG_Highway)? - NO

11/Is there a relationship between MSRP and Invoice price?

In [ ]:
#9
df.groupby('Cylinders').Horsepower.mean().sort_values(ascending=True)

Cylinders
3.0      73.000000
4.0     150.514706
6.0     218.952632
5.0     228.000000
8.0     298.942529
10.0    405.000000
12.0    468.666667
Name: Horsepower, dtype: float64

In [130]:
df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [ ]:
#10
df[['Weight','MPG_City','MPG_Highway']].sort_values(by = 'Weight',ascending=True)

     Weight  MPG_City  MPG_Highway
152  1850.0      60.0         66.0
386  2035.0      35.0         43.0
388  2055.0      35.0         43.0
387  2085.0      33.0         39.0
400  2195.0      26.0         32.0
..      ...       ...          ...
64   5879.0      13.0         17.0
233  5969.0      13.0         18.0
145  6133.0      13.0         17.0
169  6400.0      10.0         12.0
120  7190.0      10.0         13.0

[426 rows x 3 columns]

In [140]:
df["MSRP"] = df["MSRP"].replace('[\$,]', '', regex=True).astype(float)
df["Invoice"] = df["Invoice"].replace('[\$,]', '', regex=True).astype(float)

df[["MSRP", "Invoice"]].corr()

             MSRP   Invoice
MSRP     1.000000  0.999132
Invoice  0.999132  1.000000

Filtering & Specific Questions

12/List all cars with more than 300 horsepower and less than 20 MPG_City.

13/Find the top 10 most expensive cars (by MSRP).

14/Which car has the largest wheelbase, and which has the shortest?

15/Among cars with 4 cylinders, which one has the best MPG_Highway?

In [153]:
#12
df[(df['Horsepower'] > 300) & (df['MPG_Highway'] < 20)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
64,Cadillac,Escalade EXT,Truck,USA,All,52975.0,48541.0,6.0,8.0,345.0,13.0,17.0,5879.0,130.0,221.0
120,Ford,Excursion 6.8 XLT,SUV,USA,All,41475.0,36494.0,6.8,10.0,310.0,10.0,13.0,7190.0,137.0,227.0
145,GMC,Yukon XL 2500 SLT,SUV,USA,All,46265.0,40534.0,6.0,8.0,325.0,13.0,17.0,6133.0,130.0,219.0
169,Hummer,H2,SUV,USA,All,49995.0,45815.0,6.0,8.0,316.0,10.0,12.0,6400.0,123.0,190.0
190,Infiniti,FX45,Wagon,Asia,All,36395.0,33121.0,4.5,8.0,315.0,15.0,19.0,4309.0,112.0,189.0
234,Lincoln,Aviator Ultimate,SUV,USA,Front,42915.0,39443.0,4.6,8.0,302.0,13.0,18.0,4834.0,114.0,193.0
266,Mercedes-Benz,CL600 2dr,Sedan,Europe,Rear,128420.0,119600.0,5.5,12.0,493.0,13.0,19.0,4473.0,114.0,196.0
275,Mercedes-Benz,SL600 convertible 2dr,Sports,Europe,Rear,126670.0,117854.0,5.5,12.0,493.0,13.0,19.0,4429.0,101.0,179.0
303,Nissan,Pathfinder Armada SE,SUV,Asia,Front,33840.0,30815.0,5.6,8.0,305.0,13.0,19.0,5013.0,123.0,207.0
318,Nissan,Titan King Cab XE,Truck,Asia,All,26650.0,24926.0,5.6,8.0,305.0,14.0,18.0,5287.0,140.0,224.0
334,Porsche,Cayenne S,SUV,Europe,All,56665.0,49865.0,4.5,8.0,340.0,14.0,18.0,4950.0,112.0,188.0
381,Toyota,Land Cruiser,SUV,Asia,All,54765.0,47986.0,4.7,8.0,325.0,13.0,17.0,5390.0,112.0,193.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,75000.0,69130.0,6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0

In [174]:
#13
df.sort_values(by='Wheelbase',ascending=False).iloc[0][['Make','Wheelbase']]
# df.loc[df['Wheelbase'].idxmin(),['Make','Wheelbase']]

Make         Chevrolet
Wheelbase        144.0
Name: 89, dtype: object

In [ ]:
# 14
df.sort_values(by='MSRP',ascending=False).head(10)['Make']

In [175]:
#15
df.groupby('Cylinders').get_group(4).sort_values('MPG_Highway',ascending=False).iloc[0]['Make']

'Toyota'